.detail-form-section {
  display: flex;
}
.section {
  width: 400px;
  color: grey;
  font-weight: 100;
}
.a_field:hover {
  border-color: #90b6ff !important;
}
.right-section {
  width: 400px;
  border: 1px dashed #e6e6e6;
  height: 100%;
  padding: 15px;
}
.left-section {
  height: 100%;
  width: 100%;
}
.form-content-section {
  padding: 10px;
}
.btn-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}
.btn-primary-section {
  margin-top: 10px;
}

.sr-only {
  display: none;
}
.draw-toolbar {
  display: flex;
  position: absolute;
  opacity: 1;
  z-index: 100;
  right: 10px;
  top: 10px;
}
.map-section {
  z-index: -1000;
}
