.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Toastify > .Toastify__toast-container--top-right {
  width: calc(100% - 2em) !important;
}

.Toastify > .Toastify__toast-container--top-right > .Toastify__toast--success {
  background-color: rgba(191, 255, 216, 0.4);
  border: 4px solid #7dfb9d;
  border-radius: 5px;
  color: #27803d;
  font-weight: bold;
  padding: 0;
  position: relative;
}

.Toastify
  > .Toastify__toast-container--top-right
  > .Toastify__toast--success
  > .Toastify__toast-body {
  background-color: white;
  z-index: -1;
  line-height: 64px;
  padding-left: 15px;
}

.Toastify
  > .Toastify__toast-container--top-right
  > .Toastify__toast--success
  > .Toastify__close-button--success {
  position: absolute;
  top: 5px;
  right: 8px;
  color: #38ca1f;
}

ul.pagination {
  margin-top: 10px;
}

ul.pagination li {
  color: #cccccc !important;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

ul.pagination li a:hover {
  text-decoration: none;
}

ul.pagination li a {
  outline: none;
  line-height: 35px;
  height: 35px;
  display: block;
  padding: 0 10px;
}

ul.pagination li:hover {
  border-color: #698eff;
  color: #698eff;
}

ul.pagination li.active {
  border-color: #698eff;
  color: #698eff;
  border-width: 2px;
}

ul.pagination li:not(:last-child) {
  margin-right: 5px;
}
